<!-- BASE (HEAD, ASSETS, ETC) -->
<%- include('base'); %>

<!-- CONTENT -->
<div class="max-w-2xl mx-auto mt-4 p-4 sm:p-6 bg-white border-2 border-gray-200 text-center">
    <h2 class="pb-8" style="font-size: 1.5em;"><%= title %></h2>

    <% products.forEach(product => { %>
        <h3><%=product.title%></h3>
    <% }); %>
</div>

<!-- FOOTER -->
<%- include('footer'); %>