<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Senpai Skeleton</title>
</head>
<body class="bg-gray-100">
    <div class="max-w-2xl mx-auto mt-4 p-4 sm:p-6 bg-white border-2 border-gray-200 text-center">
        <h2 class="pb-8" style="font-size: 1.5em;">NAV</h2>

        <a href="/" class="text-red-400">Inicio</a> | <a href="/productos" class="text-red-400">Cursos</a> | <a href="/login" class="text-red-400">Iniciar sesión</a> | <a href="/signup" class="text-red-400">Registro</a>
    </div>